body .content {
    .success-icon, .fail-icon {
        display: inline-block;
        font-size: 35px;
        margin-right: 10px;
        line-height: 1em;
    }
    .success-icon {
        color: green;
    }
    .fail-icon {
        color: red;
    }
    table {
        .button, button {
            padding: 7px 13px !important;
        }
        input[type=file]{
            margin-bottom: 5px;
            padding: 0;
            background: none;
            border: 0;
        }
    }
    .errors, .warning, .success {
        margin: 0 0 20px 0;
        padding: 5px;
        font-size: 15px;
        border: 1px solid #000;
    }
    .errors {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;   
    }
    .warning {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
    }
    .success {
        color: #3B8A4E;
        background-color: #B7FCBB;
        border-color: #80DB7A;
    }
}

body.admin .content  {
    .inline-form label {
        text-align: left;
    }
}

/* AUTOCOMPLETE */

.autocomplete{
  width: 100%;
  position: relative;
}

.autocomplete input{
  font-size: 1.2em;
  width: 100%;
  padding:0.4em;
}

.autocomplete ul{
  position: absolute;
  left: 0;
  width: 100%;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
  z-index: 1;
}

.autocomplete li{
  text-align: left;
  list-style:none;
  width: 100%;
  padding:0.4em;
  background-color: #fff;
}

.autocomplete li.active{
  width: 100%;
  background-color: #4bf;
}

@media print {
    header, footer, .print-hide, div.auth, .breadcrumb, .slideshow {display: none !important;}
    .scroll-h {overflow-y: auto !important; max-height: none !important; }
    div {width:100% !important;}
}

.urn-update-fields {
    overflow: visible;
    label {
        color: #fff !important;
    }
}