body .content {
    .success-icon, .fail-icon {
        display: inline-block;
        font-size: 35px;
        margin-right: 10px;
        line-height: 1em;
    }
    .success-icon {
        color: green;
    }
    .fail-icon {
        color: red;
    }
    table {
        .button, button {
            padding: 7px 13px !important;
        }
        input[type=file]{
            margin-bottom: 5px;
            padding: 0;
            background: none;
            border: 0;
        }
    }
}