@{
    Layout = "";
}

@Html.Raw(ViewBag.floodlight)

<div class="twelvecol terms-copy">
    <div class="title-img">
        <img src="~/Content/@Session["tenantkey"]/img/contact-title.jpg"/>
    </div>

    @Html.Raw(ViewBag.contactusCopy)
    
</div>