@{
    Layout = "";
}

@Html.Raw(ViewBag.floodlight)

<div class="special-offers-title"><img src="~/Content/@Session["TenantKey"]/img/tw-title.jpg" /></div>

<div id="offers-discount-wrap" ng-controller="offersDiscountController">

    <div id="offers-discount-l">
        <a href="#/offers/discount/cottage"><img src="~/Content/@Session["TenantKey"]/img/travelandwk-l.jpg" /></a>
    </div>
    <div id="offers-discount-r">
        <a href="#/offers/discount/hoseasons"><img src="~/Content/@Session["TenantKey"]/img/travelandwk-r.jpg" /></a>
    </div>
    <div class="clear"></div>

</div>
