@{
    Layout = "";
}

@Html.Raw(ViewBag.floodlight)

<div class="twelvecol discount-wrap">
    <div class=" claim-offer" ng-controller="offersDiscountHoseasonsController">
        <img src="~/Content/@Session["TenantKey"]/img/hoseasons-banner.jpg" />
        <div class="offer-copy">
            <h1>@Html.Raw(ViewBag.tenpercentoff)Hoseasons</h1>
            @Html.Raw(ViewBag.hoseasonsCopy)
        </div>
        <!--- <p class="button-claim"><a ng-click="claim()" name="iefix" ng-href="/#/offers/discount/claim/hoseasons" class="button" target="_blank">Claim Code</a></p> --->
        <p class="button-claim"><a ng-click="claim()" href="http://partners.hoseasons.co.uk/DAY" class="button" target="_blank">Claim Code</a></p>
        <div class="offer-contact">
            @Html.Raw(ViewBag.redirectWarning)
        </div>
    </div>
</div>