@{
    Layout = "";
}


<div class="twelvecol claim-offer" ng-controller="offersDiscountClaimController">

    <img src="http://placehold.it/300x301" />

    <h1>{{ page_title }}</h1>

    <p>Your claim code is: </p>
    <p ng-bind-html="website"></p>

</div>
