@{
    Layout = "";
}

@Html.Raw(ViewBag.floodlight)

<p><a href="#" ng-click="go_back()">Go back to list</a></p>


<div class="twelvecol" ng-controller="offers241DetailsController">

    <div class="sixcol offers241-l">
        <div class="offers241-l-inner">
            <h1>@Html.Raw(ViewBag.titlePreface){{ offer.OutletName }}</h1>
            <p ng-repeat="(key, value) in removeNull({
               a : offer.Description,
               c : offer.Phone,
               d : offer.Website
               })">
                <!--{{ key }}: --><span ng-bind-html="value"></span>
            </p>
            @Html.Raw(ViewBag.redirectWarning)
        </div>
        <div class="claim-strip"><a ng-click="claim()" name="iefix" ng-href="{{ pdf_link }}" target="_blank"><img src="~/Content/@Session["TenantKey"]/img/claim-code-button.png" /></a></div>
        <div class="offers241-l-inner">
            <p ng-repeat="(key, value) in removeNull({
               a : offer.Address1, 
               b : offer.Address2,
               c : offer.TownCity,
               d : offer.County,
               e : offer.PostCode })">
                <!--{{ key }}: --><span ng-bind-html="value"></span>
            </p>
        </div>
    </div>
    <div class="sixcol last offers241-r">
        <img src="~/Content/@Session["TenantKey"]/241Category/{{ offer.CategoryKey }}_large.png" />
        <div id="offers241-r-top">
            <h1>Location</h1>
            <div class="tidy"></div>
        </div>
        <div id="map241Offer" class="google-map" postcode="{{ offer.PostCode }}" country="United Kingdom"></div>
    </div>
    <div class="clear"></div>

</div>
