@{
    ViewBag.Title = "Leisure Card";
    ViewBag.Slideshow = "true";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="twocol"></div>
<div class="eightcol">

    <form method="post" class="inline home">
        <div class="field">
            <label>Please enter card number:</label>
            <input type="text" name="card_number" />
        </div>
        <input type="submit" name="Enter" />
    </form>

</div>
<div class="clear"></div>
