@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="twelvecol last">

    <ul class="bxslider">
        <li><img src="http://placehold.it/1140x300" /></li>
        <li><img src="http://placehold.it/1140x300" /></li>
        <li><img src="http://placehold.it/1140x300" /></li>
        <li><img src="http://placehold.it/1140x300" /></li>
    </ul>

</div>

<div class="twocol"></div>
<div class="eightcol">

    <form method="post" class="inline home">
        <div class="field">
            <label>Please enter card number:</label>
            <input type="text" name="card_number" />
        </div>
        <input type="submit" name="Enter" />
    </form>

</div>
<div class="clear"></div>
