@{
    ViewBag.Title = "Leisure Card";
    ViewBag.Slideshow = "true";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="twocol"></div>
<div class="eightcol">

    <form method="post" class="home">
        <label>Please enter card number</label>
        <div class="field">
            <input type="text" placeholder="e.g 123456" name="card_number" />
            <input type="submit" name="Enter" />
        </div>
    </form>

</div>
<div class="clear"></div>
