@import 'mixin.scss';

footer {
    background: $footer-bg;
    padding: 20px 0;
    font-size: 0.9em;
    position: relative;
    .last {
        text-align: right;
    }
    p {
        margin: 0 !important;
    }
}