.button, 
.module .slidesjs-pagination li a,
body div.content .pager ul li a {
	position: relative;
	behavior: url('/static/js/pie/pie.htc');
}
body div.checkboxes input[type="checkbox"]{
	display: inline-block;
	width: auto;
	border: none;
}
body div.checkboxes label span {
	display: none !important;
}
body div.checkboxes label {
	display: inline-block;
	width: auto;
	vertical-align: baseline;
}