body .content a.offer {
  background: #53AECF;
  height: 300px;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px; }
  body .content a.offer h2 {
    font-size: 20px;
    color: #fff; }

body .content .claim-offer {
  text-align: center; }
  body .content .claim-offer img {
    margin: 0 0 30px 0; }

body .content .offer-241 {
  background: #49C390;
  padding: 5px;
  position: relative;
  margin-bottom: 20px; }
  body .content .offer-241 img {
    float: left;
    margin-right: 10px; }
  body .content .offer-241 h3 {
    margin: 30px 0 15px 0; }
  body .content .offer-241 .distance {
    padding: 5px;
    top: -5px;
    right: 0;
    position: absolute;
    background: #444;
    color: #fff;
    font-weight: bold; }

body .content .special-offers {
  background: #49C390;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 40px; }
  body .content .special-offers h2 {
    color: #fff; }
  body .content .special-offers .special-offer-copy {
    padding: 5px; }
  body .content .special-offers ul {
    float: left;
    list-style: none;
    width: 100%; }
    body .content .special-offers ul li {
      float: left;
      width: 32%;
      margin: 0.5%; }
      @media only screen and (max-width: 1140px) {
        body .content .special-offers ul li {
          width: 24%; } }
      @media only screen and (max-width: 768px) {
        body .content .special-offers ul li {
          width: 100%;
          margin: 0 0 10px 0; } }
      body .content .special-offers ul li span, body .content .special-offers ul li a, body .content .special-offers ul li p {
        color: #fff;
        margin: 0; }
      body .content .special-offers ul li a {
        text-decoration: none;
        display: block; }
        body .content .special-offers ul li a:hover {
          background: rgba(0, 0, 0, 0.2); }
        body .content .special-offers ul li a span {
          text-decoration: underline;
          margin-bottom: 10px;
          display: block; }
      body .content .special-offers ul li p {
        font-size: 14px; }
      body .content .special-offers ul li img {
        margin: 0 10px 0 0;
        border-radius: 3px;
        min-width: 163px;
        float: left; }

body .content .experience-offers {
  float: left;
  width: 100%;
  list-style: none;
  margin-top: 30px; }
  body .content .experience-offers li {
    width: 24%;
    float: left;
    margin: 0.5%; }
    @media only screen and (max-width: 1140px) {
      body .content .experience-offers li {
        width: 24%; } }
    @media only screen and (max-width: 768px) {
      body .content .experience-offers li {
        width: 100%;
        margin: 0 0 10px 0; } }
    body .content .experience-offers li a {
      padding: 20px;
      border-radius: 5px;
      background: #53AECF;
      font-size: 16px;
      display: block;
      color: #fff;
      text-align: center;
      text-decoration: none;
      min-height: 85px; }
      body .content .experience-offers li a p {
        margin: 0; }
      body .content .experience-offers li a:hover {
        background: #222;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
      body .content .experience-offers li a span {
        font-size: 17px;
        display: block;
        margin-bottom: 5px; }

body .content .results div {
  padding: 20px; }
  body .content .results div img {
    float: left;
    margin: 0 20px 20px 0; }
