/*
  CSS by Jamie Read
  Source Shaper
*/

// CSS Resets
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0; }article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a img{border:0}figure{position:relative}figure img{width:100%}
*{box-sizing: border-box;}

@import 'mixin.scss';

body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'Arial', sans-serif;
    font-weight: normal; 
    overflow-y: scroll;
    background: $main-bg;
    .clear { 
        clear: both;
    }
    .fl {
        float: left;
        width: 49%;
    }
    .fr {
        float: right;
        width: 49%;
    }
    a {
        color: $links;
        &:hover {
            text-decoration: none;
        }
    }
    p {
        margin-bottom: 15px;
        font-size: 15px;       
    }
    .button, button {
        display: inline-block;
    }
    .google-map  {
        height: 450px;
        border: 2px solid #fff;
        width: 100%;
    }
    .scroll-h {
        max-height: 600px;
        overflow-y: scroll;
        margin-bottom: 20px;
    }
    div.content {
        .container {
            padding: 30px 0;
            &.white {
                background: #fff;
            }
        }
        h1 {
            color: $site-color;
            font-size: 26px;
            font-weight: lighter;
            margin: 0 0 20px 0;
        }
        h2 {
            display: block;
            color: $site-color2;
            font-size: 20px;
            margin-bottom: 10px;
            font-weight: lighter;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
            tr {
                th, td {
                    padding: 5px;
                    font-weight: normal;
                    text-align: left;
                }
                th {
                    background: $site-color2;
                    color: #fff;
                }
                td {
                    background: #F3F3F3;
                    vertical-align: top;
                    border-bottom: 1px solid #D5D5D5;
                }
            }          
        }
    }
}

@media print {
    header, footer, .print-hide, div.auth {display: none !important;}
    .scroll-h {overflow-y: auto !important; max-height: none !important; }
    div {width:100% !important;}
}