/*
  CSS by Jamie Read
  Source Shaper
*/

// CSS Resets
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0; }article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a img{border:0}figure{position:relative}figure img{width:100%}
*{box-sizing: border-box;}

@import 'mixin.scss';

body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'Arial', sans-serif;
    font-weight: normal;
    overflow-y: scroll;
    background: #0971ce;
    .clear {
        clear: both;
    }
    .fl {
        float: left;
        width: 49%;
    }
    .fr {
        float: right;
        width: 49%;
    }
    a {
        color: $links;
        &:hover {
            text-decoration: none;
        }
    }
    p {
        margin-bottom: 15px;
        font-size: 15px;       
    }
    .button, button {
        display: inline-block;
    }
    .google-map  {
        height: 450px;
        border: 2px solid #fff;
        width: 100%;
    }
    .scroll-h {
        max-height: 600px;
        overflow-y: scroll;
    }
    div.content {
        .container {
            padding:0px;
            &.white {
                background: #fff;
            }
        }
        .breadcrumb {
              margin: 10px 0;
            li {
                display: inline-block;
                margin-right: 20px;
                a {
                   color: #ffffff;    
                   position: relative;
                   &:after {
                        content: '>';
                        position: absolute;
                        right: -17px;
                        top: 2px;
                        color: #ffffff;
                   }
                }
                span {
                    color:#ffffff;
                }
            }
        }
        h1 {
            color: $site-color;
            font-size: 26px;
            font-weight: lighter;
            margin: 0 0 20px 0;
        }
        h2 {
            display: block;
            color: $site-color2;
            font-size: 20px;
            margin-bottom: 10px;
            font-weight: lighter;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
            tr {
                th, td {
                    padding: 5px;
                    font-weight: normal;
                    text-align: left;
                }
                th {
                    background: $site-color2;
                    color: #fff;
                }
                td {
                    background: #F3F3F3;
                    vertical-align: top;
                    border-bottom: 1px solid #D5D5D5;
                }
            }
        }
        .slideshowcont {
            border-top:5px solid #ffffff;
            margin:23px 0 0 0;
            position:relative;
            .slideshowmask {
                width:100%;
                position:absolute;
                top:0px;
                left:0px;
            }
            .slideshowmask div {
                width:100%;
                max-width:1140px;
                margin:0 auto;
            }
            .row {
                  margin: 0 auto 50px auto;
            }
            .row .twelvecol {
                padding-left:0px;
                padding-right:0px;
            }
        }
        form.loginform {
            background:none;
            border:none;
            box-shadow:none;
            label {
                background:none;
            }
            input[type=text] {
                background:#0971ce;
                color:#ffffff;
            }
            ::-webkit-input-placeholder {color:#91cbff;}
            /* Firefox 18- */
            :-moz-placeholder {color:#91cbff;}
            /* Firefox 19+ */
            ::-moz-placeholder {color:#91cbff;}
            :-ms-input-placeholder {color:#91cbff;}
            }          
        }
}

.bx-wrapper {
    margin:0px;
}
.bx-wrapper .bx-viewport {
    border:none;
}
.bx-wrapper .bx-pager {
    position:absolute;
    bottom:0px;
    right:30%;
    z-index:9999;
    width:auto;
}
.bx-controls-direction {
    display:none;
}
body .content ul.experience-offers {
    margin-bottom:50px;
    li {
        a{
            background:none;
            border:1px solid #ffffff;
            height:85px;
            span, p {
                font-family:Tahoma, Arial;
                font-weight:bold;
                font-size:22px;
            }
        }
        margin:0px;
        width:23%;
        height:85px;
        margin:0 1% 20px 1%;
        background:none;
    }
}
body .content .special-offers {
    background:none;
}
body .content {
    .special-offers-title {
        margin:0 auto;
        width:100%;
        max-width:444px;
    }
    .special-offers-text {
        text-align:center;
        h1 {
            font-family:Tahoma, Arial;
            font-weight:bold;
            font-size:20px;
            color:#ffffff;
        }
        p {
            font-family:Tahoma, Arial;
            font-size:20px;
            color:#ffffff;
        }
        a {
            color:#ffffff;
        }
    }
}

/* SAM CSS */
body.offer-241 {
    background: #b3c401;
}

.mask {
background: url('../img/carousel-mask.png');
background-repeat: no-repeat;
background-size: 100% auto;
}

.offer-241 .mask {
background: url('../img/carousel-mask-green.png') no-repeat;
}

.title-img {
    text-align: center;
    padding-bottom: 50px;
}

body div.content form.location-search {    
    border: 2px solid #FFFFFF;
    border-radius: 12px;
    background: #b3c401; 
}

body div.content label.white {
       color: #FFFFFF;
       font-family:  Tahoma, Verdana, Geneva, sans-serif;
       padding-right: 8px;
       float: left;
}

body div.content form.location-search input {   
    float: left;
    max-width: 225px;
}

body div.content .location-search .field {
    margin-bottom: 0;
}

body div.content form.location-search select {   
    float: left;
    max-width: 245px;
    margin-right: 15px;
}

body div.content h4 {
    color: #555555;
    padding-right: 15px;
    float: left;
    font-family:  Tahoma, Verdana, Geneva, sans-serif;
}


body div.content form.location-search  .location-icon {
  margin: -41px auto 0 auto;
  background: #b3c401 url("/Content/grg/img/location-icon.png") no-repeat;
  width: 59px;
  height: 45px;
  padding-bottom: 54px;
    }

body div.content input[type=submit], input[type=reset], .button, button{
        width: auto; 
        padding: 7px 15px;
        border: 2px solid #fff;
        color: #fff;
        font-weight: bold;
        background: #b3c401;
        cursor: pointer;
        border-radius: 0px;
        text-decoration: none;
        font-weight: normal;        
        &:hover {
            background: #222;
            @include ease(0.2s);
        }    
    }

body div.content input, body div.content textarea {
    background: #b3c401;
    border: 2px solid #fff;
        color: #fff;
        padding: 7px 15px;
}

.search-left {width: 50%; float: left;}
.search-right {width: 50%; float: right; padding-left: 10px;}


body div.content select {
  width: 100%;
  font-size: 15px;
  padding: 7px 11px; }


/* SAM MEDIA QUIRIES */

@media screen and (max-width: 1140px) {
    .search-left {width: 100%; text-align: left; padding-bottom: 20px;}
    body div.content .search-left label.white {padding-right: 25px;}
    .search-right {width: 100%; text-align: left; padding: 0px;}
}

@media screen and (max-width: 704px) {
    .search-left {padding: 0;}
     body div.content .location-search h4 {width: 100%; padding-bottom: 10px;}
     body div.content .location-search label.white {width: 100%; padding-bottom: 10px;}
     body div.content .location-search input {width: 100%; margin-bottom: 20px;}
     body div.content .location-search select {width: 100%; margin-bottom: 20px;}

}
