body div.content input, body div.content textarea {
  outline: none;
  background: #FAFAFA;
  border: 1px solid #A7A7A7;
  padding: 8px 11px;
  width: 100%; }
  body div.content input.errors, body div.content textarea.errors {
    border: 1px solid #49C390 !important; }

body div.content input[type=text], body div.content input[type=password] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

body div.content textarea {
  min-height: 80px;
  resize: vertical;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

body div.content .field {
  margin-bottom: 5px; }

body div.content label {
  display: inline-block;
  margin-bottom: 5px;
  color: #49C390; }

body div.content input[type=checkbox] {
  width: auto;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px; }

body div.content input[type=submit] {
  width: auto;
  padding: 10px 15px;
  border: none;
  color: #fff;
  font-weight: bold;
  background: #49C390;
  cursor: pointer;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  body div.content input[type=submit]:hover {
    background: #222;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }

body div.content form {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
  margin: 20px 0; }
  body div.content form.home {
    margin: 50px 0;
    padding: 60px 40px;
    border-radius: 5px;
    background: #53AECF;
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); }
    body div.content form.home label {
      color: #fff; }
    body div.content form.home input[type=submit] {
      background: #207EA0; }
      body div.content form.home input[type=submit]:hover {
        background: #222; }

body div.content form.inline label {
  display: inline-block;
  width: 30%;
  padding-right: 20px;
  margin-top: 7px;
  text-align: right;
  vertical-align: top; }
  @media only screen and (max-width: 480px) {
    body div.content form.inline label {
      width: auto;
      display: block;
      text-align: left; } }

body div.content form.inline .field {
  margin-bottom: 10px; }

body div.content form.inline input[type=password], body div.content form.inline input[type=text], body div.content form.inline input[type=file], body div.content form.inline input[type=email], body div.content form.inline textarea {
  display: inline-block;
  width: 69%; }
  @media only screen and (max-width: 480px) {
    body div.content form.inline input[type=password], body div.content form.inline input[type=text], body div.content form.inline input[type=file], body div.content form.inline input[type=email], body div.content form.inline textarea {
      width: 100%; } }

body div.content form.inline div.checkboxes label {
  width: 88%;
  text-align: left; }

body div.content form.inline ul.errorlist, body div.content form.inline input[type=submit] {
  margin-left: 30.5%; }
  @media only screen and (max-width: 768px) {
    body div.content form.inline ul.errorlist, body div.content form.inline input[type=submit] {
      margin-left: 0; } }

body div.content ul.errorlist {
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }
  body div.content ul.errorlist li {
    color: #f00;
    margin: 0 0 5px 0 !important;
    padding: 0; }
    body div.content ul.errorlist li:last-child {
      margin-bottom: 0 !important; }
