// base colour & images
$site-color: #49C390;
$site-color2: #53AECF;
    $site-color2-alt: #207EA0;
$main-bg: #E5E5E5;
$links: #000;
$sprite-main: url('/Content/img/sprite-main.png') no-repeat;


// offers pages
$special-offer-bg: $site-color;
$special-offer-text: #fff;

$experience-offer-text: #fff;

// header
$logo: url('/Content/img/logo.png') no-repeat;
$logo-width: 254px;
$logo-height: 33px;

// footer
$footer-bg: #D3D3D3;