/*
  CSS by Jamie Read
  Source Shaper
*/

// CSS Resets
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0; }article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a img{border:0}figure{position:relative}figure img{width:100%}
*{box-sizing: border-box;}

@import 'mixin.scss';

body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'Arial', sans-serif;
    font-weight: normal;
    overflow-y: scroll;
    background: $main-bg;
    .clear {
        clear: both;
    }
    .fl {
        float: left;
        width: 49%;
    }
    .fr {
        float: right;
        width: 49%;
    }
    a {
        color: $links;
    }
    div.content {
        .container {
            padding: 30px 0;
            &.white {
                background: #fff;
            }
        }
        h1 {
            color: $site-color;
            font-size: 24px;
            font-weight: lighter;
            margin: 0 0 20px 0;
        }
        h2 {
            display: block;
            color: $site-color;
            font-size: 14px;
            margin-bottom: 10px;
            font-weight: lighter;
        }
    }
}

