/*
  CSS by Jamie Read
  Source Shaper
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  margin: 0;
  padding: 0; }

article, aside, figure, figure img, figcaption, hgroup, footer, header, nav, section, video, object {
  display: block; }

a img {
  border: 0; }

figure {
  position: relative; }

figure img {
  width: 100%; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  overflow-y: scroll;
  background: #E5E5E5; }
  body .clear {
    clear: both; }
  body .fl {
    float: left;
    width: 49%; }
  body .fr {
    float: right;
    width: 49%; }
  body a {
    color: #000; }
    body a:hover {
      text-decoration: none; }
  body p {
    margin-bottom: 15px;
    font-size: 15px; }
  body .button, body button {
    display: inline-block; }
  body .google-map {
    height: 450px;
    border: 2px solid #fff;
    width: 100%; }
  body .scroll-h {
    max-height: 600px;
    overflow-y: scroll; }
  body div.content .container {
    padding: 30px 0; }
    body div.content .container.white {
      background: #fff; }
  body div.content h1 {
    color: #49C390;
    font-size: 26px;
    font-weight: lighter;
    margin: 0 0 20px 0; }
  body div.content h2 {
    display: block;
    color: #53AECF;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: lighter; }
  body div.content table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px; }
    body div.content table tr th, body div.content table tr td {
      padding: 5px;
      font-weight: normal;
      text-align: left; }
    body div.content table tr th {
      background: #53AECF;
      color: #fff; }
    body div.content table tr td {
      background: #F3F3F3;
      vertical-align: top;
      border-bottom: 1px solid #D5D5D5; }
