@{
    Layout = "";
}

<div class="twelvecol">
	<div ng-controller="AdminDataImportController">
		<table class="print-hide">
			<tr>
				<th>System</th>
				<th>Last Run</th>
				<th>Status</th>
				<th>Error Message</th>
				<th style="width: 120px;">Reload Data</th>
				<th style="width: 120px;">Download File</th>
				<th style="width: 220px;" class="last">Upload File</th>
			</tr>
			<tr ng-repeat="i in imports">
				<td><!--<span ng-class="i.Success ? 'success-icon' : 'fail-icon'">&bull;</span>-->{{ i.UploadKey }}</td>
				<td ng-bind="i.LastRun | date:'dd/MM/yyyy HH:mm:ss'"></td>
				<td>{{ i.Success ? 'Success' : 'Failed' }}</td>
				<td>{{ i.Message }}</td>
				<td>
                    <button ng-click="i.UploadKey == 'RedLetter' ? processRedLetter() : process241()">Reload</button>
				</td>
			    <td>
                    <div ng-if="i.UploadKey == 'RedLetter'">
                        <button ng-click="retrieveRedLetter()" class="button">Download</button>
                    </div>
			    </td>
				<td class="last">
				    <div ng-if="i.UploadKey == '241'">
				        <input type="file" file-model="files.file241" />
				        <button ng-click="uploadFile(i.UploadKey)">Upload</button>
				    </div>
                    <div ng-if="i.UploadKey == 'RedLetter'">
                        <input type="file" file-model="files.fileRedLetter" />
                        <button ng-click="uploadFile(i.UploadKey)">Upload</button>
                    </div>
					<div class="clear"></div>
				</td>
			</tr>
		</table>
		<div class="errors" ng-show="file_error">{{ file_error }}</div>
		<div class="success" ng-show="file_success">{{ file_success }}</div>
	</div>
	<div ng-controller="AdminUpdateCardController">
		<form ng-submit="submit()" class="one-line print-hide adminform1">
			<div class="row">
				<p><strong>URN Update</strong></p>
				<hr />
			</div>
			<div class="row urn-update-fields">
				<div class="onecol">
					<label>URN or ref:</label>
					<autocomplete ng-model="cardNumber" data="card_numbers" on-type="change"></autocomplete>
					<div class="clear"></div>
				</div>
				<div class="onecol">
					<label>Expiry Date:</label>
					<input placeholder="dd-mm-yyyy" type="text" ng-model="expiryDate" readonly="readonly" date-formatter />
				</div>
				<div class="onecol">
					<label>Status:</label>
					<input type="text" ng-model="status" readonly="readonly" />
				</div>
				<div class="onecol">
					<label style="display: block;" for="suspended">Suspended:</label>
					<input type="checkbox" ng-model="suspended" id="suspended" />
				</div>
				<div class="onecol last">
					<label>Renewal Date:</label>
					<input placeholder="dd-mm-yyyy" type="text" ng-model="renewalDate" date-formatter />
				</div>
			</div>
			<div class="row">
				<div class="action-buttons">
					<input class="button" type="submit" value="Update" />
					<a ng-click="reset()" class="button" href="#">Reset</a>
				</div>
			</div>
		<div class="clear"></div>
	</form>
		<div class="errors" ng-show="cardupdate_error != null">{{ cardupdate_error }}</div>
		<div class="success" ng-show="cardupdate_success != null">{{ cardupdate_success }}</div>
	</div>
	
	<div ng-controller="AdminCardGenerateController">
        <form ng-submit="submit()" class="one-line print-hide adminform1">
            <p><strong>URN Generate</strong></p>
            <hr />
            <div class="clear"></div>
            <div class="threecol">
                <label>Reference:</label>
                <input placeholder="User Reference" type="text" ng-model="reference" />
                <div class="clear"></div>
            </div>
            <div class="threecol">
                <label>Number of URNs to generate:</label>
                <input placeholder="Number" type="number" ng-model="num_cards" />
                <div class="clear"></div>
            </div>
            <div class="threecol">
                <label>Card Duration:</label>
                <input type="number" placeholder="Months" ng-model="duration" />
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div class="threecol last">
                <a ng-click="reset()" class="button" href="#">Reset</a>
                <input type="submit" value="Generate" />
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </form>
        <div class="errors" ng-show="cardgenerate_error != null">{{ cardgenerate_error }}</div>
        <div class="success" ng-show="cardgenerate_success != null">{{ cardgenerate_success }}</div>
    </div>

    <div ng-controller="AdminReportController" class="admin-bottom-cont">
        <div class="fourcol print-hide adminform2cont">
            <h2>Search Critera</h2>

			<form ng-submit="get_report()" class="adminform2">
				<div class="field">
					<label>Report Type</label>
					<select ng-model="report_type" ng-change="reportChange()">
						<option value="card_activation" ng-selected="selected">Card Activation</option>
						<option value="offers_claimed">Offers Claimed</option>
						<option value="card_usage">Card Usage</option>
						<option value="urn_report">URN Report</option>
					</select>
				</div>
				<div class="field" ng-show="!hide_dates">
					<label>Date Range</label>
					<input placeholder="from e.g: dd-mm-yyyy" type="text" style="margin-bottom: 10px;" ng-model="from_date" date-formatter />
					<input placeholder="to e.g: dd-mm-yyyy" type="text" ng-model="to_date" date-formatter />
				</div>
				<div class="errors" ng-show="report_error != null">{{ report_error }}</div>
				<input type="submit" value="Download CSV" class="buttondef" />
				<div style="display: none;">
					<button id="download_reports_card_activation" type="button" csv-header="getCardActivationHeader()" ng-csv="getCardActivationReport()" filename="CardActivationReport.csv" field-separator="," decimal-separator=".">Download Details</button>
					<button id="download_reports_offers_claimed" type="button" csv-header="getClaimedOffersHeader()" ng-csv="getClaimedOffersReport()" filename="ClaimedOffersReport.csv" field-separator="," decimal-separator=".">Download Details</button>
					<button id="download_reports_card_usage" type="button" csv-header="getCardUsageHeader()" ng-csv="getCardUsageReport()" filename="CardUsageReport.csv" field-separator="," decimal-separator=".">Download Details</button>
					<button id="download_reports_generation_history" type="button" csv-header="getGenerationHistoryHeader()" ng-csv="getGenerationHistoryReport()" filename="CardGenerationHistoryReport.csv" field-separator="," decimal-separator=".">Download Details</button>
					<button id="download_reports_urn_report" type="button" csv-header="getAllCardsHeader()" ng-csv="getAllCardsReport()" filename="AllCardsReport.csv" field-separator="," decimal-separator=".">Download Details</button>
				</div>
			</form>
        </div>
    </div>
</div>

