@{
    Layout = "";
}

<div class="twelvecol">

    <div ng-controller="AdminDataImportController">
        <table class="print-hide">
            <tr>
                <th>System</th>
                <th>Last Run</th>
                <th>Status</th>
                <th>Error Message</th>
                <th style="width: 120px;">Reload Data</th>
                <th style="width: 120px;">Download File</th>
                <th style="width: 220px;" class="last">Upload File</th>
            </tr>
            <tr ng-repeat="i in imports">
                <td><!--<span ng-class="i.Success ? 'success-icon' : 'fail-icon'">&bull;</span>-->{{ i.UploadKey }}</td>
                <td ng-bind="i.ImportedDateTime | date:'dd/MM/yyyy hh:mm:ss'"></td>
                <td>{{ i.Success ? 'Success' : 'Failed' }}</td>
                <td>{{ i.Message }}</td>
                <td>
                    <div ng-if="i.UploadKey == 'RedLetter'">
                        <button ng-click="uploadRedLetter()">Reload</button>
                    </div>
                </td>
                <td>
                    <a ng-if="i.FileKey" ng-href="{{ apiUrl }}/UploadFiles/{{ i.UploadKey }}/{{ i.FileKey }}.csv" class="button">Download</a>
                </td>
                <td class="last">

                    <div ng-if="i.UploadKey == '241'">
                        <input type="file" file-model="files.file241" />
                        <button ng-click="uploadFile(i.UploadKey)">Upload</button>
                    </div>

                    <div class="clear"></div>
                </td>
            </tr>
        </table>
        <div class="errors" ng-show="file_error">{{ file_error }}</div>
        <div class="success" ng-show="file_success">{{ file_success }}</div>
    </div>

    <div ng-controller="AdminUpdateCardController">
        <form ng-submit="submit()" class="one-line print-hide adminform1">
            <p><strong>URN Update</strong></p>
            <hr />
            <div class="clear"></div>
            <div class="twocol">
                <label>URN or ref:</label>
                <autocomplete ng-model="cardNumber" data="card_numbers" on-type="change"></autocomplete>
                <div class="clear"></div>
            </div>
            <div class="twocol">
                <label>Expiry Date:</label>
                <input placeholder="dd-mm-yyyy" type="text" ng-model="expiryDate" date-formatter />
                <div class="clear"></div>
            </div>
            <div class="twocol">
                <label style="display: block;" for="suspended">Suspended:</label>
                <input type="checkbox" ng-model="suspended" id="suspended" />
                <div class="clear"></div>
            </div>
            <div class="twocol last">
                <label>Renewal Date:</label>
                <input placeholder="dd-mm-yyyy" type="text" ng-model="renewalDate" date-formatter />
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div class="fourcol last">
                <a ng-click="reset()" class="button" href="#">Reset</a>
                <input type="submit" value="Update" />
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </form>
        <div class="errors" ng-show="cardupdate_error != null">{{ cardupdate_error }}</div>
        <div class="success" ng-show="cardupdate_success != null">{{ cardupdate_success }}</div>
    </div>

    <div ng-controller="AdminCardGenerateController">
        <form ng-submit="submit()" class="one-line print-hide adminform1">
            <p><strong>URN Generate</strong></p>
            <hr />
            <div class="clear"></div>
            <div class="threecol">
                <label>Reference:</label>
                <input placeholder="User Reference" type="text" ng-model="reference" />
                <div class="clear"></div>
            </div>
            <div class="threecol">
                <label>Number of URNs to generate:</label>
                <input placeholder="Number" type="number" ng-model="num_cards" />
                <div class="clear"></div>
            </div>
            <div class="threecol">
                <label>Card Duration:</label>
                <input type="number" placeholder="Months" ng-model="duration" />
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div class="threecol last">
                <a ng-click="reset()" class="button" href="#">Reset</a>
                <input type="submit" value="Generate" />
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </form>
        <div class="errors" ng-show="cardgenerate_error != null">{{ cardgenerate_error }}</div>
        <div class="success" ng-show="cardgenerate_success != null">{{ cardgenerate_success }}</div>
    </div>

    <div ng-controller="AdminReportController" class="admin-bottom-cont">
        <div class="fourcol print-hide adminform2cont">
            <h2>Search Critera</h2>

            <form ng-submit="get_report()" class="adminform2">
                <div class="field">
                    <label>Report Type</label>
                    <select ng-model="report_type" ng-change="reportChange()">
                        <option value="card_activation" ng-selected="selected">Card Activation</option>
                        <option value="offers_claimed">Offers Claimed</option>
                        <option value="card_usage">Card Usage</option>
                        <option value="generation_history">Card Generation History</option>
                        <option value="all_card_numbers">All Card Numbers</option>
                    </select>
                </div>

                <div class="field" ng-show="!hide_dates">
                    <label>Date Range</label>
                    <input placeholder="from e.g: dd-mm-yyyy" type="text" style="margin-bottom: 10px;" ng-model="from_date" date-formatter />
                    <input placeholder="to e.g: dd-mm-yyyy" type="text" ng-model="to_date" date-formatter />
                </div>
                <div class="errors" ng-show="report_error != null">{{ report_error }}</div>
                <input type="submit" value="Update" class="buttondef" />
            </form>
        </div>
        <div class="eightcol last adminform4">
            <div class="scroll-h">
                <table ng-show="reports_card_activation.length">
                    <tr>
                        <th>Card Number</th>
                        <th>Activation Date</th>
                    </tr>
                    <tr ng-repeat="r in reports_card_activation">
                        <td>{{ r.Code }}</td>
                        <td ng-bind="r.RegistrationDate | date:'dd/MM/yyyy hh:mm'"></td>
                    </tr>
                </table>
                <table ng-show="reports_offers_claimed.length">
                    <tr>
                        <th>Card Number</th>
                        <th>Offer Name</th>
                        <th>Claimed Date</th>
                    </tr>
                    <tr ng-repeat="r in reports_offers_claimed">
                        <td>{{ r.LeisureCardCode }}</td>
                        <td>{{ r.OfferTitle }}</td>
                        <td ng-bind="r.SelectedDateTime | date:'dd/MM/yyyy'"></td>
                    </tr>
                </table>
                <table ng-show="reports_card_usage.length">
                    <tr>
                        <th>Card Number</th>
                        <th>Login Date &amp; Time</th>
                    </tr>
                    <tr ng-repeat="r in reports_card_usage">
                        <td>{{ r.LeisureCardCode }}</td>
                        <td ng-bind="r.LoginDateTime | date:'dd/MM/yyyy hh:mm'"></td>
                    </tr>
                </table>
                <table ng-show="generation_history.length">
                    <tr>
                        <th>Reference</th>
                        <th>Generated Date</th>
                    </tr>
                    <tr ng-repeat="r in generation_history">
                        <td>{{ r.Ref }}</td>
                        <td ng-bind="r.GeneratedDate | date:'dd/MM/yyyy hh:mm'"></td>
                    </tr>
                </table>
                <table ng-show="all_card_numbers.length">
                    <tr>
                        <th>Code</th>
                        <th>Reference</th>
                        <th>Renewal Period Months</th>
                        <th>Suspended</th>
                        <th>Expiry Date</th>
                        <th>Renewal Date</th>
                        <th>Registration Date</th>
                        <th class="last">Uploaded Date</th>
                    </tr>
                    <tr ng-repeat="r in all_card_numbers">
                        <td>{{ r.Code }}</td>
                        <td>{{ r.Reference }}</td>
                        <td>{{ r.RenewalPeriodMonths }}</td>
                        <td>{{ r.Suspended }}</td>
                        <td ng-bind="r.ExpiryDate | date:'dd/MM/yyyy hh:mm'"></td>
                        <td ng-bind="r.RenewalDate | date:'dd/MM/yyyy hh:mm'"></td>
                        <td ng-bind="r.RegistrationDate | date:'dd/MM/yyyy hh:mm'"></td>
                        <td class="last" ng-bind="r.UploadedDate | date:'dd/MM/yyyy hh:mm'"></td>
                    </tr>
                </table>
            </div>
            <div class="print-hide">
                <button ng-show="reports_card_activation.length" type="button" csv-header="getCardActivationHeader()" ng-csv="getCardActivationReport()" filename="CardActivationReport.csv" field-separator="," decimal-separator=".">Download Details</button>
                <button ng-show="reports_offers_claimed.length" type="button" csv-header="getClaimedOffersHeader()" ng-csv="getClaimedOffersReport()" filename="ClaimedOffersReport.csv" field-separator="," decimal-separator=".">Download Details</button>
                <button ng-show="reports_card_usage.length" type="button" csv-header="getCardUsageHeader()" ng-csv="getCardUsageReport()" filename="CardUsageReport.csv" field-separator="," decimal-separator=".">Download Details</button>
                <button ng-show="generation_history.length" type="button" csv-header="getGenerationHistoryHeader()" ng-csv="getGenerationHistoryReport()" filename="CardGenerationHistoryReport.csv" field-separator="," decimal-separator=".">Download Details</button>
                <button ng-show="all_card_numbers.length" type="button" csv-header="getAllCardsHeader()" ng-csv="getAllCardsReport()" filename="AllCardsReport.csv" field-separator="," decimal-separator=".">Download Details</button>
                <button ng-show="show_print" ng-click="print()">Print Results</button>
            </div>
        </div>
        <div class="clear"></div>
    </div>

</div>

