@{
    Layout = "";
}
 
<div class="twelvecol inline-form" ng-controller="AdminClientDetailsController">

    <h1>Admin Client Details</h1>

 
    <div class="sixcol">
        <div class="form-box">

            <div class="field">
                <label>Client ID:</label>
                <input type="text" ng-model="tenant.Key" ng-readonly="keyreadonly" />
            </div>
            <div class="field">
                <label>Client Name:</label>
                <input type="text" ng-model="tenant.Name" />
            </div>
            <div class="field">
                <label>Client Active:</label>
                <input type="checkbox" ng-model="tenant.Active" />
            </div>
            <div class="field">
                <label>Domain Name:</label>
                <input type="text" ng-model="tenant.Domain" />
            </div>
            <div class="field">
                <label>Comments:</label>
                <input type="text" ng-model="tenant.Comments" />
            </div>
            <div class="field checkboxes" style="display: none;">
                <label>
                    <input type="checkbox" ng-model="tenant.MemberLoginPopupDisplayed" />
                    Member Login Pop-Up Displayed
                </label>
            </div>
            <div class="field checkboxes" style="display: none;">
                <label>
                    <input type="checkbox" ng-model="tenant.MemberLoginPopupMandatory" />
                    Member Login Pop-Up Agreement Required to Continue
                </label>
            </div>

            <div class="field">
                <label>Total URNs Used:</label>
                <input type="text" readonly="readonly" ng-model="tenant.UrnCount" />
            </div>
        </div>
    </div>
    <div class="sixcol last">
        <div class="form-box">
            <div class="field">
                <label>sFTP Address:</label>
                <input type="text" ng-model="tenant.FtpServer" />
            </div>
            <div class="field">
                <label>sFTP Username:</label>
                <input type="text" ng-model="tenant.FtpUsername" />
            </div>
            <div class="field">
                <label>sFTP Password:</label>
                <input type="text" ng-model="tenant.FtpPassword" />
            </div>
            <div class="field">
                <label>sFTP Add File Path:</label>
                <input type="text" ng-model="tenant.FtpAddFilePath" />
            </div>
            <div class="field">
                <label>sFTP Deactivate File Path:</label>
                <input type="text" ng-model="tenant.FtpDeactivateFilePath" />
            </div>
        </div>
        <div class="form-box" style="display: none;">
            <h2>Login Pop-Up Report</h2>
            <form class="no-bg" ng-controller="AdminPopupReportController">

                <div class="field">
                    <label>Date From:</label>
                    <input placeholder="dd-mm-yyyy" type="text" ng-model="dateFrom" date-formatter />
                </div>
                <div class="field">
                    <label>Date To:</label>
                    <input placeholder="dd-mm-yyyy" type="text" ng-model="dateTo" date-formatter />
                </div>
                <div class="errors" ng-show="report_error != null">{{ report_error }}</div>
                <button type="button" csv-header="getHeader()" ng-csv="getnReport()" filename="LoginPopupReport.csv" field-separator="," decimal-separator=".">Download</button>
            </form>

        </div>
    </div>
    <div class="clear"></div>

    <div ng-controller="AdminClientUrnsController">
        <table class="print-hide">
            <tr>
                <th>Option</th>
                <th>Last Run</th>
                <th>Status</th>
                <th>Error Message</th>
                <th>Reference</th>
                <th>Duration</th>
                <th>URNs Effected</th>
                <th style="width: 100px;">Retrieve Data</th>
                <th style="width: 100px;">Reload Data</th>
                <th style="width: 100px;">Download File</th>
                <th style="width: 160px;" class="last">Upload File</th>
            </tr>
            <tr ng-repeat="i in imports">
                <td>{{ i.UploadKey }}</td>
                <td ng-bind="i.LastRun | date:'dd/MM/yyyy HH:mm:ss'"></td>
                <td>{{ i.Success ? 'Success' : 'Failed' }}</td>
                <td>{{ i.Message }}</td>
                <td>
                    <input ng-if="i.UploadKey == 'NewUrns'" type="text" ng-model="add.ref" />
                </td>
                <td>
                     <input ng-if="i.UploadKey == 'NewUrns'" type="number" ng-model="add.duration" />
                </td>
                <td>{{ i.Supplemental }}</td>
                <td>
                    <button ng-click="i.UploadKey == 'NewUrns' ? retrieveAdd() : retrieveDeactivate()">Retrieve</button>
                </td>
                <td>
                    <button ng-click="i.UploadKey == 'NewUrns' ? processAdd() : processDeactivate()">Reload</button>
                </td>
                <td>
                    <div ng-if="i.FileName">
                        <a class="button" href="{{apiUrl}}/UploadFiles/{{i.UploadKey}}/{{tenantKey}}/{{i.FileName}}">Download</a>
                    </div>
                </td>
                <td class="last">
                    <input type="file" file-model="{{ 'files.' + i.UploadKey }}" />
                    <button ng-click="uploadFile(i.UploadKey)">Upload</button>
                </td>
            </tr>
        </table>

        <div class="errors" ng-show="file_error">{{ file_error }}</div>
        <div class="success" ng-show="file_success">{{ file_success }}</div>
    </div>

    <div class="success" ng-show="tenant_success != null">{{ tenant_success }}</div>
    <div class="errors" ng-show="tenant_error != null">{{ tenant_error }}</div>

    <div class="fourcol"></div>
    <div class="fourcol">
        <button ng-click="saveTenant()">Accept</button>
        <a href="/#/admin" class="button">Cancel</a>
        <button ng-click="closeTenant()">Close</button>
        <button ng-click="deleteTenant()">Delete</button>
    </div>

</div>

