@{
    Layout = "";
}

<div class="twelvecol">
    <h1>Admin</h1>

    <table class="print-hide" ng-controller="AdminDataImportController">
        <tr>
            <th>System</th>
            <th>Last Run</th>
            <th>Status</th>
            <th>Error Message</th>
            <th style="width: 120px;">Retrieve Data</th>
            <th style="width: 120px;">Reload Data</th>
            <th style="width: 120px;">Download File</th>
            <th style="width: 220px;">Upload File</th>
        </tr>
        <tr ng-repeat="i in imports">
            <td><span ng-class="i.Success ? 'success-icon' : 'fail-icon'">&bull;</span>{{ i.OfferTypeKey }}</td>
            <td ng-bind="i.ImportedDateTime | date:'dd/MM/yyyy hh:mm:ss'"></td>
            <td>{{ i.Success ? 'Success' : 'Failed' }}</td>
            <td>{{ i.Message }}</td>
            <td><button>Retrieve</button></td>
            <td><button ng-click="refresh()">Reload</button></td>
            <td><button>Download</button></td>
            <td>

                <div ng-if="i.OfferTypeKey == '2-4-1'">
                    <input type="file" file-model="files.file241" />
                </div>
                <div ng-if="i.OfferTypeKey == 'Red Letter'">
                    <input type="file" file-model="files.redletter" />
                </div>

                <button ng-click="uploadFile(i.OfferTypeKey)">Upload</button>
            </td>
        </tr>
    </table>


    <form class="one-line print-hide">
        <div class="twocol">
            <label>Card Number:</label>
            <input type="text" />
        </div>
        <div class="twocol">
            <label>Expiry Date:</label>
            <input placeholder="dd-mm-yyyy" type="text" />
        </div>
        <div class="twocol">
            <label>Status:</label>
            <select>
                <option class="archive">Archive</option>
            </select>
        </div>
        <div class="twocol">
            <label>Renewal Date:</label>
            <input placeholder="dd-mm-yyyy" type="text" />
        </div>
        <div class="fourcol last">
            <input type="reset" value="Reset" />
            <input type="submit" value="Update" />
        </div>
        <div class="clear"></div>
    </form>

    <div ng-controller="AdminReportController">
        <div class="fourcol print-hide">
            <h2>Search Critera</h2>

            <form ng-submit="get_report()">
                <div class="field">
                    <label>Report Type</label>
                    <select ng-model="report_type">
                        <option value="card_activation" ng-selected="selected">Card Activation</option>
                        <option value="offers_claimed">Offers Claimed</option>
                        <option value="card_usage">Card Usage</option>
                    </select>
                </div>

                <div class="field">
                    <label>Date Range</label>
                    <input placeholder="from e.g: dd-mm-yyyy" type="text" style="margin-bottom: 10px;" ng-model="from_date" />
                    <input placeholder="to e.g: dd-mm-yyyy" type="text" ng-model="to_date" />
                </div>
                <div class="errors" ng-show="report_error != null">{{ report_error }}</div>
                <input type="submit" value="Submit" />
            </form>
        </div>
        <div class="eightcol last">

            <div class="scroll-h">

                <table ng-show="reports_card_activation.length">
                    <tr>
                        <th>Card Number</th>
                        <th>Activation Date</th>
                    </tr>
                    <tr ng-repeat="r in reports_card_usage">
                        <td>{{ r.Code }}</td>
                        <td>{{ r.RegistrationDate }}</td>
                    </tr>
                </table>

                <table ng-show="reports_offers_claimed.length">
                    <tr>
                        <th>Card Number</th>
                        <th>Offer Name</th>
                        <th>Claimed Date</th>
                    </tr>
                    <tr ng-repeat="r in reports_offers_claimed">
                        <td>{{ r.LeisureCardCode }}</td>
                        <td>{{ r.OfferTitle }}</td>
                        <td ng-bind="r.SelectedDateTime | date:'dd/MM/yyyy'"></td>
                    </tr>
                </table>

                <table ng-show="reports_card_usage.length">
                    <tr>
                        <th>Card Number</th>
                        <th>Login Date &amp; Time</th>
                    </tr>
                    <tr ng-repeat="r in reports_card_usage">
                        <td>{{ r.LeisureCardCode }}</td>
                        <td ng-bind="r.LoginDateTime | date:'dd/MM/yyyy hh:mm'"></td>
                    </tr>
                </table>

            </div>

            <div class="print-hide">
                <button ng-show="reports_card_activation.length" type="button" csv-header="getCardActivationHeader()" ng-csv="getCardActivationReport()" filename="CardActivationReport.csv" field-separator="," decimal-separator=".">Download Details</button>
                <button ng-show="reports_offers_claimed.length" type="button" csv-header="getClaimedOffersHeader()" ng-csv="getClaimedOffersReport()" filename="ClaimedOffersReport.csv" field-separator="," decimal-separator=".">Download Details</button>
                <button ng-show="reports_card_usage.length" type="button" csv-header="getCardUsageHeader()" ng-csv="getCardUsageReport()" filename="CardUsageReport.csv" field-separator="," decimal-separator=".">Download Details</button>

                <button ng-show="reports_card_activation.length || reports_offers_claimed.length || reports_card_usage.length" ng-click="print()">Print Results</button>
            </div>

        </div>
        <div class="clear"></div>
    </div>

</div>

