@{
    Layout = "";
}

<div class="twelvecol terms-copy">
    <div class="title-img">
        <img src="~/Content/@Session["tenantkey"]/img/contact-title.jpg"/>
    </div>

    <p><strong>Contact Us</strong></p>
    @Html.Raw(ViewBag.contactusCopy)
    
</div>