@{
    Layout = "";
}

<div class="twelvecol claim-offer" ng-controller="offers241ClaimController">
 
    <img src="http://placehold.it/300x300" />

    <h1>{{ offer.OutletName }}</h1>

    <p>Your claim code is: </p>
    <p ng-bind-html="offer.Website"></p>

</div>
