@{
    Layout = "";
}

<div class="twelvecol" ng-controller="offersExperienceController">

    <div class="special-offers-title"><img src="~/Content/grg/img/ed-title.jpg" /></div>

    <div class="special-offers">

        <ul>
            <li ng-repeat="s in special_offers">
                <a href="{{ s.Url }}" target="_blank">
                    <img ng-src="{{ s.ThumbnailUrl }}" />
                    <div class="special-offer-copy">
                        <span>{{ s.Title }}</span>
                        <p>{{ s.InspirationalDescription }}</p>
                        <div class="tidy"></div>
                    </div>
                </a>
            </li>
        </ul>
        <div class="clear"></div>

    </div>
    <div class="special-offers-text">
        <h1>Red Letter Days</h1>
        <p>Curabitur placerat, purus non tincidunt bibendum, neque quam lacinia sapien, ut dapibus augue neque sit amet urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed eget commodo felis, id pretium diam. Vivamus sodales quam quis lacus malesuada, eu mollis velit mattis. Vestibulum et ante nulla. Nam massa tortor, tempor consequat mauris a, vehicula gravida nisl. Duis vitae bibendum est. Aenean quam nunc, luctus et lectus nec, posuere tempor lacus. Vivamus suscipit malesuada risus, nec venenatis nisi aliquet at. Quisque ac congue dui. Donec euismod, tellus at tempus condimentum, ante nulla volutpat justo, vitae gravida quam mi posuere ante. Mauris gravida nisi lacus, at mattis risus imperdiet at. Pellentesque cursus libero justo, a scelerisque tortor pretium id. Praesent consequat mi id sem ultrices efficitur sed in libero. Fusce scelerisque diam lectus, a tempus nisl posuere vel.</p>
    </div>

    <ul class="experience-offers">
        <li ng-repeat="c in cateogies">
            <a href="//www.redletterdays.co.uk{{ c.link }}" target="_blank">
                <span>{{ c.name }}</span>
                <p>{{ c.description }}</p>
            </a>
        </li>
    </ul>
    <div class="clear"></div>
</div>
