@{
    Layout = "";
}

<div class="twelvecol">
    <div class="title-img"><img src="~/Content/@Session["TenantKey"]/img/welcome-to-leisure-card.png" /></div>
    @Html.Raw(ViewBag.homeCopy)
    
</div>
<div class="home-icons-wrap">
    <div class="fourcol">
        <a href="#/offers/241" class="offer">
        </a>
    </div>
    <div class="fourcol">
        <a href="#/offers/discount" class="offer two">
        </a>
    </div>
    <div class="fourcol last">
        <a href="#/offers/experience" class="offer three">
        </a>
    </div>
    <div class="clear"></div>
</div>