@{
    Layout = "";
}

<div class="twelvecol claim-offer" ng-controller="offersDiscountDetailsController">

    <h1>{{ page_title }}</h1>

    <p><a ng-click="claim()" ng-href="/#/offers/discount/claim/{{ title }}" class="button" target="_blank">Claim Code</a></p>

</div>
