@{
    Layout = "";
}

<div class="twelvecol claim-offer" ng-controller="offers241ClaimController">
 
    <img src="//placehold.it/300x301" />

    <h1>{{ offer.OutletName }}</h1>

    <p ng-show="offer.BookingInstructions">{{ offer.BookingInstructions }}</p>

    <p ng-show="offer.ClaimCode">Your claim code is: {{ offer.ClaimCode }}</p>

    <p ng-bind-html="offer.Website" ng-show="offer.Website"></p>

</div>
