@{
    Layout = "";
}

<div class="fourcol">

    <a href="#/offers/241" class="offer">
        <h2>241 Offers</h2>
    </a>

</div>
<div class="fourcol">

    <!--
    <a href="#/offers/discount" class="offer">
        <h2>Discount Offers</h2>
    </a>
    -->

</div>
<div class="fourcol last">

    <a href="#/offers/experience" class="offer">
        <h2>Experience Offers 20% Off</h2>
    </a>

</div>
<div class="clear"></div>