@{
    Layout = "";
}

<div class="twelvecol" ng-controller="offers241DetailsController">

    <h1>{{ offer.OutletName }}</h1>

    <div class="sixcol">

        <p ng-repeat="(key, value) in removeNull(offer)">
            {{ key }}: <span ng-bind-html="value"></span>
        </p>

        <p><a ng-click="claim()" ng-href="/#/offers/241/claim/{{ id }}" class="button" target="_blank">Claim Code</a></p>

        <a href="/#/offers/241">Go back to list</a>

    </div>
    <div class="sixcol last">

        <img src="http://placehold.it/550x300" />

        <div id="map241Offer" class="google-map" postcode="{{ offer.PostCode }}"></div>

    </div>
    <div class="clear"></div>

</div>
