@{
    Layout = "";
}

<div class="twelvecol" ng-controller="offers241ClaimController">
 
    <h1>241 Offers</h1>

    <div class="fourcol"></div>
    <div class="fourcol">

    </div>
    <div class="fourcol last"></div>
    <div class="clear"></div>

</div>
