@{
    Layout = "";
}
<div class="twelvecol">
    <div class="title-img">
        <img src="~/Content/grg/img/redeem-your-discount.png" />
    </div>
</div>
<div class="clear"></div>
<div class="claim-wrap">
    <div class="claim-offer" ng-controller="offers241ClaimController">
        <div class="offer-copy">
            <h1>{{ offer.OutletName }}</h1>
            <p ng-show="offer.BookingInstructions">{{ offer.BookingInstructions }}</p>
            <p ng-show="offer.ClaimCode">Your claim code is: {{ offer.ClaimCode }}</p>
        </div> 
        <p ng-bind-html="offer.Website" ng-show="offer.Website" class="ng-binding button-claim">
            <img src="http://grg.leisurecards.ui.shiftkey.uk.com/Content/GRG/img/redeem-here.jpg" />
            <br /><br />
        </p>
    
        </div>                
    </div>
