@{
    Layout = "";
}

<div class="twelvecol" ng-controller="offersExperienceController">

    <div class="spcial-offers">
        <h2>Special Offers</h2>

        <ul>
            <li ng-repeat="s in special_offers">
                <a href="{{ s.Url }}" target="_blank">
                    <img ng-src="{{ s.ThumbnailUrl }}" />
                    <span>{{ s.Title }}</span>
                    <p>{{ s.InspirationalDescription }}</p>
                </a>
            </li>
        </ul>
        <div class="clear"></div>

    </div>

    <h1>Red Letter Days</h1>

    <p>Description of Red Letter Days</p>

    <p><a href="https://www.redletterdays.co.uk/Home?source=rld&affid=212&dealid=28582" target="_blank">Click here to go to Red Letter Days</a></p>

    <ul class="experience-offers">
        <li ng-repeat="c in cateogies">
            <a href="//www.redletterdays.co.uk{{ c.link }}" target="_blank">
                <span>{{ c.name }}</span>
                <p>{{ c.description }}</p>
            </a>
        </li>
    </ul>
    <div class="clear"></div>
</div>
