@{
    Layout = "";
}

<div class="twelvecol claim-offer" ng-controller="offersDiscountDetailsController">

    <h1>{{ title }}</h1>

    <div class="sixcol">

        <p><a ng-click="claim()" ng-href="/#/offers/discount/claim/{{ slug }}" class="button" target="_blank">Claim Code</a></p>

    </div>

    <div class="clear"></div>

</div>
