@{
    Layout = "";
}

<div ng-controller="offers241Controller" class="twelvecol">

    <h1>241 Offers</h1>

    <form ng-submit="submit()">
        <div class="field">
            <label>Please enter address<br /> either full, town, county or just postcode</label>
            <input type="text" placeholder="enter search term" ng-model="keyword" />
        </div>
        <div class="field">
            <label>Distance</label>
            <select ng-modal="distance">
                <option value="0.5">half a mile</option>
                <option value="1">1 mile</option>
                <option value="5" selected>5 miles</option>
                <option value="10">10 miles</option>
                <option value="25">25 miles</option>
                <option value="all">all</option>
            </select>
        </div>
        <div class="errors" ng-show="errors != null">{{ errors }}</div>
        <input type="submit" value="Submit" />
    </form>


    <div class="scroll-h">

        <div class="sixcol offer-241" ng-repeat="o in offers" ng-class="$index % 2 ? 'last' : ''">
            <h3>{{ o.OutletName }}</h3>
            <p class="description">{{ o.Description }}</p>
            <p class="town">{{ o.TownCity }}</p>
            <p class="postcode">{{ o.PostCode }}</p>
            <p><a href="/#/offers/241/{{ o.Id }}">Details</a></p>
        </div>

    </div>
</div>
