@{
    Layout = "";
}

<p><a href="/#/offers/241">Go back to list</a></p>

<div class="twelvecol" ng-controller="offers241DetailsController">

    <div class="sixcol offers241-l">
        <div class="offers241-l-inner">
            <h1>{{ offer.OutletName }}</h1>
            <p ng-repeat="(key, value) in removeNull(offer)">
                {{ key }}: <span ng-bind-html="value"></span>
            </p>
        </div>
        <div class="claim-strip"><a ng-click="claim()" ng-href="/#/offers/241/claim/{{ id }}" target="_blank"><img src="~/Content/grg/img/claim-code-button.png" /></a></div>
    </div>
    <div class="sixcol last offers241-r">
        <img src="http://placehold.it/550x300" />
        <div id="offers241-r-top">
            <h1>text</h1>
            <p><a href="#">text</a></p>
            <div class="tidy"></div>
        </div>
        <div id="map241Offer" class="google-map" postcode="{{ offer.PostCode }}"></div>
    </div>
    <div class="clear"></div>

</div>
