@{
    Layout = "";
}

<div class="twelvecol" ng-controller="offersExperienceController">

    <div class="special-offers-title"><img src="~/Content/grg/img/ed-title.jpg" /></div>

    <div class="special-offers-banner">
        <h2>Amazing Special Offers</h2>
        <p>As a leisure card holder you will receive an EXTRA 20% off all sale prices!</p>
        <div class="special-offers-banner-star"><img src="~/Content/grg/img/star.png"></div>
    </div>

    <div class="special-offers">

        <ul>
            <li ng-repeat="s in special_offers">
                <a href="{{ s.Url }}?source=rld&affid=212&dealid=28582" target="_blank">
                    <img ng-src="{{ s.ThumbnailUrl }}" />
                    <div class="special-offer-copy">
                        <p>{{ s.Title }}</p>
                        <!--<p>{{ s.InspirationalDescription }}</p>-->
                        <div class="tidy"></div>
                    </div>
                    <div class="clear"></div>
                </a>
            </li>
        </ul>
        <div class="clear"></div>

    </div>
    <div class="special-offers-text">
        <a target="_blank" href="https://www.redletterdays.co.uk/Home"><h1>Red Letter Days</h1></a>
        <p>Discover unique gift ideas for friends, family and loved ones and buy a gift experience they'll never forget! If you are looking for an unusual gift, Red Letter Days has adrenaline-packed adventures, heavenly pampering indulgences, romantic getaways, sporting fun activity days and mind-expanding cultural events. Our unique gift experiences are perfect for birthday presents, anniversary gifts, Christmas gifts and Valentine's Day gifts - or just to say a well deserved "thank you".</p>
    </div>

    <div class="special-offers-banner alt">
        <h2>Don't Miss Out</h2>
        <p>20% DISCOUNT on all <a style="color: #fff;" target="_blank" href="https://www.redletterdays.co.uk/Home">Red Letter Days</a> offers with you Leisure Card!</p>
    </div>

    <ul class="experience-offers">
        <li ng-repeat="c in cateogies">
            <a href="//www.redletterdays.co.uk{{ c.link }}" target="_blank">
                <span>{{ c.name }}</span>
                <!--<p>{{ c.description }}</p>-->
            </a>
        </li>
    </ul>
    <div class="clear"></div>
</div>

<div class="twelvecol center">
    <a class="back-to-top" ng-click="to_top()" href="#">
        Back to Top
    </a>
</div>


<script type="text/javascript" src="@Url.Content("~/Scripts/site.base.js")"></script>



