@{
    Layout = "";
}

<div class="twelvecol claim-offer" ng-controller="offersDiscountHoseasonsController">

    <h1>Hoseasons</h1>

    <p><a ng-click="claim()" ng-href="/#/offers/discount/claim/hoseasons" class="button" target="_blank">Claim Code</a></p>

</div>
