@{
    Layout = "";
}

<div class="twelvecol claim-offer" ng-controller="offersDiscountCottageController">

    <h1>Choose a Cottage</h1>

    <p><a ng-click="claim()" ng-href="/#/offers/discount/claim/cottage" class="button" target="_blank">Claim Code</a></p>

</div>
