@{
    Layout = "";
}

<div class="twelvecol claim-offer" ng-controller="offersDiscountClaimController">

    <img src="http://placehold.it/300x300" />

    <h1>{{ title }}</h1>

    <p>Your claim code is: </p>
    <p ng-bind-html="website"></p>

</div>
