@{
    Layout = "";
}

<div class="twelvecol">
    <div class="title-img"><img src="~/Content/@Session["TenantKey"]/img/welcome-to-leisure-card.png" /></div>
    <div class="special-offers-text"><p>Welcome to the Leisure Card and our great range of 2 for 1 deals and discount offers for you to use at your leisure. Ranging from exciting days out, fantastic holidays and exhilarating experiences, you’re sure to find something you’ll love!<br /><br /><span class="green">Your Leisure Card is now activated and expires on: <span ng-bind="$storage.user.ExpiryDate | date:'dd/MM/yyyy'"></span></span><br /><br />To browse the offers please click on one of the three categories icons below.</p></div>
    
</div>
<div class="home-icons-wrap">
    <div class="fourcol">
        <a href="#/offers/241" class="offer">
        </a>
    </div>
    <div class="fourcol">
        <a href="#/offers/discount" class="offer two">
        </a>
    </div>
    <div class="fourcol last">
        <a href="#/offers/experience" class="offer three">
        </a>
    </div>
    <div class="clear"></div>
</div>