@{
    Layout = "";
}

@Html.Raw(ViewBag.floodlight)

<div ng-controller="offers241Controller" class="twelvecol">
    <div class="title-img"><img src="~/Content/@Session["TenantKey"]/img/2-4-1-offers.png" />
    </div>
    <form ng-submit="submit()" class="location-search" id="241search">
        <div class="location-icon"></div>
        <div class="search-left">
            <h4>Location Search</h4>
            <div class="field">
                @Html.Raw(ViewBag.searchBy)
                <input type="text" ng-model="location"/>
            </div>
        </div>
        <div class="search-right">
            <h4>Distance</h4>

            <div class="styled-select">
                <select ng-model="miles" ng-options="option.name for option in options"></select>
            </div>

                <div class="errors" ng-show="errors != null">{{ errors }}</div>
                <input class="sub-button" type="submit" value="Submit" />
            </div>
        <div class="clear"></div>
    </form>


    <div class="scroll-h">
        <div class="sixcol" ng-repeat="o in offers" ng-class="$index % 2 ? 'last' : ''">            
            <div class="offer-241-offer">
                <div class="distance-tab"><p class="distance" ng-show="o.Distance">{{ o.Distance }} miles</p></div>
                <div class="offer-left">
                    <img src="~/Content/@Session["TenantKey"]/241Category/{{ o.TwoForOneOffer.CategoryKey || o.CategoryKey }}_small.png" />
                </div>                
                <div class="offer-right">                
                    <h3>{{ o.TwoForOneOffer.OutletName || o.OutletName }}</h3>                    
                    <p class="town">{{ o.TwoForOneOffer.TownCity || o.TownCity }}</p>                    
                    <p><a href="/#/offers/241/{{ o.TwoForOneOffer.Id || o.Id }}">Find out more ></a></p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>    
    
</div>
    <div class="twelvecol center">
        <a class="back-to-top" ng-click="to_top()" href="#">
            Back to Top
        </a>
    </div>