@{
    Layout = "";
}

<div class="twelvecol" ng-controller="offers241DetailsController">
 
    <h1>{{ offer.OutletName }}</h1>

    <div class="sixcol">

        <p ng-repeat="(key, value) in offer">{{ key }}: {{ value }}</p>

        <p><a ng-href="/#/offers/241/claim/{{ id }}" class="button">Claim Code</a></p>

        <a href="/#/offers/241">Go back to list</a>

    </div>
    <div class="sixcol last">

        <div id="map241Offer" class="google-map" postcode="{{ offer.PostCode }}"></div>

    </div>
    <div class="clear"></div>

</div>
