@{
    Layout = "";
}

<div class="twelvecol discount-wrap">
    <div class=" claim-offer" ng-controller="offersDiscountCottageController">        
        <img src="~/Content/@Session["TenantKey"]/img/cottages-for-you.jpg" />
        <div class="offer-copy">
            <h1>@Html.Raw(ViewBag.tenpercentoff)Cottages4you</h1>
            @Html.Raw(ViewBag.discountCottagesCopy)
        </div>
        <!--- <p class="button-claim"><a ng-click="claim()" name="iefix" ng-href="/#/offers/discount/claim/cottage" class="button" target="_blank">Claim Code</a></p> -->
        <p class="button-claim"><a ng-click="claim()" href="http://www.chooseacottage.co.uk/DAY" class="button" target="_blank">Claim Code</a></p>
        <div class="offer-contact">
            @Html.Raw(ViewBag.redirectWarning)
            @Html.Raw(ViewBag.bookTalk)
        </div>
    </div>
</div>