@{
    Layout = "";
}

<form ng-submit="check_terms()">
    <label>
        <input type="checkbox" ng-required="{{ terms_required }}" ng-model="terms.terms_checked" />
        Please check to confirm agreement to the <a href="/#/terms" target="target">Terms &amp; Conditions</a>.
    </label>
    <div class="field">
        <input type="submit" value="Enter" />
    </div>
</form>

