header {
  background: #49C390;
  padding: 10px 0;
  position: relative;
  width: 100%;
  z-index: 100;
  min-width: 320px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  header a.logo {
    width: 254px;
    height: 33px;
    margin: 0 0 0 10px;
    text-indent: -999px;
    float: left;
    background: url("/Content/img/logo.png") no-repeat; }
  header .end-date {
    float: right;
    color: #fff;
    margin-top: 7px; }
    header .end-date span {
      font-weight: bold; }
  header nav {
    float: left;
    margin: 0 0 0 40px; }
    header nav ul {
      margin: 0;
      padding: 0;
      float: left; }
      header nav ul li {
        display: inline-block;
        margin-right: 10px;
        color: #fff; }
        header nav ul li a {
          display: inline-block;
          color: #fff;
          font-size: 13px;
          font-weight: bold;
          padding: 7px 6px;
          margin: 5px 7px 0 0;
          text-transform: uppercase;
          text-decoration: none; }

.auth {
  padding: 10px;
  background: #CDCDCD; }
  .auth .breadcrumb li {
    display: inline-block;
    margin-right: 20px; }
    .auth .breadcrumb li a {
      color: #53AECF;
      position: relative; }
      .auth .breadcrumb li a:after {
        content: '>';
        position: absolute;
        right: -17px;
        top: 2px;
        color: #222; }
  .auth .last {
    text-align: right; }
