<footer>
	<div class="row">
        <div class="sixcol">
            <a href="/terms">Terms &amp; Conditions</a>
        </div>
        <div class="sixcol last">
            <p>&copy; Copyright Grass Roots.</p>
        </div>
    </div>
</footer>