<footer>
	<div class="row">
        <div class="twelvecol footer-wrap">
            <p><a href="/#/terms">Terms &amp; Conditions</a>&#124;<a>Copyright &copy; Grass Roots Group</a></p>       
                      
        </div>
    </div>


</footer>