<header>    
	<div class="row">
		 
        <a href="/#/" class="logo">Leisure Card</a>
		
        <div class="end-date" ng-if="user.card.RenewalDate != null">
            End Date <span ng-bind="user.card.RenewalDate | date:'MM/dd/yyyy'"></span>
        </div>
       
		<div class="clear"></div>
		
    </div>
</header>
