<header>    
	<div class="row">
		 
        <a href="/#/" class="logo">Leisure Card</a>
		
        <nav>
            
            <ul>
            	<li><a href="/">menu</a></li>
            </ul>

        </nav>
       
		<div class="clear"></div>
		
    </div>
</header>
