<header>    
	<div class="row">

        <nav ng-if="$storage.user.IsAdmin">
            <ul>
                <li><a href="/#/admin">Admin Reports</a></li>
                <li><a href="/#/admin/client-details">Client Details</a></li>
            </ul>
        </nav>

        <div class="end-date" ng-if="$storage.user">
			<span ng-hide="$storage.user.IsAdmin"><strong>Your Card Expiry Date</strong> <span class="date-head" ng-bind="$storage.user.ExpiryDate | date:'dd/MM/yyyy'"></span></span><a class="logout" href="/#/logout">Sign Out</a>
        </div>
       
		<div class="clear"></div>
		
    </div>
</header>

