<header>    
	<div class="row">

        <nav ng-if="$storage.user.IsAdmin">
            <ul>
                <li><a href="/#/admin">Admin</a></li>
            </ul>
        </nav>

        <div class="end-date" ng-if="$storage.user">
            <strong>Your Card Expiry Date</strong> <span class="date-head" ng-bind="$storage.user.RenewalDate | date:'dd/MM/yyyy'"></span><a class="logout" href="/#/logout">Sign Out</a>
        </div>
       
		<div class="clear"></div>
		
    </div>
</header>

