@{
    ViewBag.Title = "Offers";
    ViewBag.Slideshow = "true";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="fourcol">

    <h2>241 Offers</h2>
    <a href="#">link</a>

</div>
<div class="fourcol">

    <h2>Discount Offers</h2>
    <a href="#">link</a>

</div>
<div class="fourcol last">

    <h2>Experience Offers 20% Off</h2>
    <a href="#">link</a>

</div>
<div class="clear"></div>