<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="DbType" value="PostGres"/>
    <add key="PostGresDatabase" value="LeisureCards"/>
    <add key="PostGresHost" value="192.168.1.49"/>
    <add key="PostGresPort" value="5432"/>
    <add key="PostGresUserName" value="postgres"/>
    <add key="PostGresPassword" value="postgres"/> -->

    <add key="DbType" value="MsSql2012"/>
    <add key="MsSqlConnectionString" value="server=(local)\MSSQL2012DEV;database=LeisureCards;uid=sa;pwd=MsSql2012"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>